{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
    <link rel="stylesheet" type=text/css href="{% static '/chatapp/style.css' %}" />
    <title>ChatApp</title>
  </head>

<body>
  <div id="frame">
    <div id="sidepanel">
      <div id="profile">
        <div class="wrap">
          <img id="profile-img" src="https://cdn.pixabay.com/photo/2016/11/14/17/39/person-1824147_960_720.png" class="online" alt="" />
          <p>{{ username|slice:"1:-1" }}</p>
        </div>
      </div>
      <div id="contacts">
        <ul>
          {% for room_name, last_author, last_message in conv_list %}
          <li class="contact" >
            <a href="../{{ room_name }}">
            <div class="wrap">
              <div class="meta">
                <p class="name">Room: {{ room_name }}</p>
                <p class="author">{{ last_author}}:</p>
                <p class="preview">{{ last_message }}</p>
              </div>
            </div>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div id="bottom-bar">
        <a href="../">
        <button id="addcontact"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Another room</span></button>
        </a>
      </div>
    </div>
    <div class="content">
      <div class="contact-profile">
        <p> Room: {{room_name_json|slice:"1:-1" }}</p>
        <button onclick="location.href='../../logout'" type="button">Logout</button>
      </div>
      <div class="messages">
        <ul id="chat-log">

        </ul>
      </div>
      <div class="message-input">
        <div class="wrap">
        <input id="chat-message-input" type="text" placeholder="Write your message..." />
        <button id="chat-message-submit" class="submit">
          <i class="fa fa-paper-plane" aria-hidden="true"></i>
        </button>
        </div>
      </div>
    </div>
  </div>

<script src="{% static 'main.js' %}"></script>
<script src="{% static 'reconnecting-websocket.js' %}"></script>
<script>

<!--        This JavaScript helps to send and properly show messages.-->
<!--        Using dictionaries, it is easy to send command for the server side  -->

    var roomName = {{ room_name_json }};
    var username = {{ username }};

    var chatSocket = new ReconnectingWebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + roomName + '/');

    chatSocket.onopen = function(e) {
      fetchMessages(roomName);
    }

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        if (data['command'] === 'messages') {
          for (let i=0; i<data['messages'].length; i++) {
            createMessage(data['messages'][i]);
          }
        } else if (data['command'] === 'new_message'){
          createMessage(data['message']);
        }
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.getElementById('chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'command': 'new_message',
            'message': message,
            'from': username,
            'conv_name': roomName
        }));

        messageInputDom.value = '';
    };

    function fetchMessages() {
      chatSocket.send(JSON.stringify({
      'command': 'fetch_messages',
      'conv_name': roomName }));
    }

    function createMessage(data) {
      var conv_name = data['conv_name'];
      if (conv_name === roomName) {
          var author = data['author'];
          var msgListTag = document.createElement('li');
          var imgTag = document.createElement('img');
          var pTag = document.createElement('p');
          var pTagAuthor = document.createElement('p2');
          var pTagDate = document.createElement('p3');
          pTag.textContent = data.content;
          pTagAuthor.textContent = data.author;
          pTagDate.textContent = data.timestamp.slice(0,19);
          imgTag.src = 'https://cdn.pixabay.com/photo/2016/11/14/17/39/person-1824147_960_720.png';

          if (author === username) {
            msgListTag.className = 'sent';
          } else {
            msgListTag.className = 'replies';
          }
          msgListTag.appendChild(imgTag);
          msgListTag.appendChild(pTagAuthor);
          msgListTag.appendChild(pTag);
          msgListTag.appendChild(pTagDate);
          document.querySelector('#chat-log').appendChild(msgListTag);
    }
    }

</script>
</body>

</html>